<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.order.orders.mapper.OrdersMapper">
    
	<sql id="orderColumns">
			id        as        "id",
		   no         as       "no",
		   type      as       "type",
		   member_id  as  "memberId",
		   status      as     "status",
		   region_id   as   "regionId",
		   category    as   "category",
		   node          as   "node",
		   address_id  as   "addressId",
		   integral       as   "integral",
		   paymentstatus  as  "paymentstatus",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="orderJoins">
		
	</sql>
	
    
	<select id="get" resultType="orders" >
		SELECT 
			<include refid="orderColumns"/>
		FROM o_order a
		<include refid="orderJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="orders" >
		SELECT 
			<include refid="orderColumns"/>
		FROM o_order a
		<include refid="orderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="orders" >
		SELECT 
			<include refid="orderColumns"/>
		FROM o_order a
		<include refid="orderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO o_order(
			id,                
		   no,             
		   type,           
		   member_id,      
		   status,         
		   region_id,      
		   category ,      
		   node  ,         
		   address_id  , 
		   integral,       
		   paymentstatus,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},                
		   #{no},             
		   #{type},           
		   #{memberId},      
		   #{status},         
		   #{regionId},      
		   #{category} ,      
		   #{node}  ,         
		   #{addressId}  , 
		   #{integral},       
		   #{paymentstatus},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE o_order SET 	
		no = #{no},             
		type = #{type},           
		member_id= #{memberId},      
		status =  #{status},         
		region_id =  #{regionId},      
		category =  #{category} ,      
		node = #{node}  ,         
		address_id =  #{addressId}  , 
		integral = #{integral},       
		paymentstatus = #{paymentstatus},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM o_order
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE o_order SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="orders" statementType="STATEMENT">
		select * FROM o_order  where ${propertyName} = '${value}'
	</select>
	
</mapper>