<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.order.shopcart.mapper.ShopcartMapper">
    
	<sql id="ShopcartColumns">
		a.id AS "id",
		a.member_id AS "memberId",
		a.products_id AS "productsId",
		a.amount AS "amount",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="ShopcartJoins">
		
	</sql>
	
    
	<select id="get" resultType="Shopcart" >
		SELECT 
			<include refid="ShopcartColumns"/>
		FROM b_shopcart a
		<include refid="ShopcartJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Shopcart" >
		SELECT 
			<include refid="ShopcartColumns"/>
		FROM b_shopcart a
		<include refid="ShopcartJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Shopcart" >
		SELECT 
			<include refid="ShopcartColumns"/>
		FROM b_shopcart a
		<include refid="ShopcartJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO b_shopcart(
			id,
			member_id,
			products_id,
			amount,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{memberId},
			#{productsId},
			#{amount},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE b_shopcart SET 	
			member_id = #{memberId},
			products_id = #{productsId},
			amount = #{amount},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM b_shopcart
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE b_shopcart SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Shopcart" statementType="STATEMENT">
		select * FROM b_shopcart  where ${propertyName} = '${value}'
	</select>
	
</mapper>