<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.dmsyspara.mapper.DmSysParaMapper">
    
	<sql id="dmSysParaColumns">
		a.id AS "id",
		a.para_key AS "paraKey",
		a.para_value AS "paraValue",
		a.comments AS "comments",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="dmSysParaJoins">
		
	</sql>
	
    
	<select id="get" resultType="DmSysPara" >
		SELECT 
			<include refid="dmSysParaColumns"/>
		FROM dm_sys_para a
		<include refid="dmSysParaJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="DmSysPara" >
		SELECT 
			<include refid="dmSysParaColumns"/>
		FROM dm_sys_para a
		<include refid="dmSysParaJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="DmSysPara" >
		SELECT 
			<include refid="dmSysParaColumns"/>
		FROM dm_sys_para a
		<include refid="dmSysParaJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO dm_sys_para(
			id,
			para_key,
			para_value,
			comments,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			remarks
		) VALUES (
			#{id},
			#{paraKey},
			#{paraValue},
			#{comments},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE dm_sys_para SET 	
			para_key = #{paraKey},
			para_value = #{paraValue},
			comments = #{comments},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM dm_sys_para
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE dm_sys_para SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="DmSysPara" statementType="STATEMENT">
		select * FROM dm_sys_para  where ${propertyName} = '${value}'
	</select>
	
</mapper>