<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.seller.mapper.SellerMapper">
    
	<sql id="sellerColumns">
		a.id AS "id",
		a.name AS "name",
		a.profession AS "profession",
		a.address AS "address",
		a.register AS "register",
		a.longitude AS "longitude",
		a.latitude AS "latitude",
		a.bank_no AS "bankNo",
		a.region_id AS "regionId",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="sellerJoins">
		
	</sql>
	
    
	<select id="get" resultType="Seller" >
		SELECT 
			<include refid="sellerColumns"/>
		FROM a_seller a
		<include refid="sellerJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Seller" >
		SELECT 
			<include refid="sellerColumns"/>
		FROM a_seller a
		<include refid="sellerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="profession != null and profession != ''">
				AND a.profession = #{profession}
			</if>
			<if test="regionId != null and regionId != ''">
				AND a.region_id = #{regionId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Seller" >
		SELECT 
			<include refid="sellerColumns"/>
		FROM a_seller a
		<include refid="sellerJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO a_seller(
			id,
			name,
			profession,
			address,
			register,
			longitude,
			latitude,
			bank_no,
			region_id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{profession},
			#{address},
			#{register},
			#{longitude},
			#{latitude},
			#{bankNo},
			#{regionId},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE a_seller SET 	
			name = #{name},
			profession = #{profession},
			address = #{address},
			register = #{register},
			longitude = #{longitude},
			latitude = #{latitude},
			bank_no = #{bankNo},
			region_id = #{regionId},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM a_seller
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE a_seller SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Seller" statementType="STATEMENT">
		select * FROM a_seller  where ${propertyName} = '${value}'
	</select>
	
</mapper>