<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.actappr.mapper.ActApprMapper">
    
	<sql id="actApprColumns">
		a.id AS "id",
		a.app_no AS "appNo",
		a.act_name AS "actName",
		a.appr_oper AS "apprOper",
		a.appr_time AS "apprTime",
		a.appr_rslt AS "apprRslt",
		a.appr_opin AS "apprOpin",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="actApprJoins">
		
	</sql>
	
    
	<select id="get" resultType="ActAppr" >
		SELECT 
			<include refid="actApprColumns"/>
		FROM act_appr a
		<include refid="actApprJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ActAppr" >
		SELECT 
			<include refid="actApprColumns"/>
		FROM act_appr a
		<include refid="actApprJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ActAppr" >
		SELECT 
			<include refid="actApprColumns"/>
		FROM act_appr a
		<include refid="actApprJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO act_appr(
			id,
			app_no,
			act_name,
			appr_oper,
			appr_time,
			appr_rslt,
			appr_opin,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag
		) VALUES (
		#{id},
			#{appNo},
			#{actName},
			#{apprOper},
			#{apprTime},
			#{apprRslt},
			#{apprOpin},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE act_appr SET 	
			app_no = #{appNo},
			act_name = #{actName},
			appr_oper = #{apprOper},
			appr_time = #{apprTime},
			appr_rslt = #{apprRslt},
			appr_opin = #{apprOpin},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM act_appr
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE act_appr SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ActAppr" statementType="STATEMENT">
		select * FROM act_appr  where ${propertyName} = '${value}'
	</select>
	
</mapper>